{% layout 'password' %}

{% comment %}
  The contents of the password.liquid templates can be found in /sections
{% endcomment %}

{% section 'password-header' %}
{% section 'password-content' %}
{% section 'password-footer' %}
{% unless shop.password_message == blank %}
  {{ shop.password_message }}
{% endunless %}
{% form 'storefront_password' %}

{{ form.errors | default_errors }}

<label for="password">Enter store using password:</label>
<input type="password" name="password">
<input type="submit" value="Enter">

{% endform %}
